<div class="p-fluid p-grid p-formgrid">
  <div class="row">
    <div class="p-field p-col-12 p-md-4">
      <div class="card">
        <h5>Uge 12</h5>
        <p-tabView [scrollable]="true">
          <p-tabPanel header="Mandag - d.14.">
            <div class="row">
              <label>Projekter</label>
              <p-autoComplete [(ngModel)]="selectedCountryAdvanced" [suggestions]="filteredCountries" (completeMethod)="filterCountry($event)" field="name" [dropdown]="true">
                <ng-template let-country pTemplate="item">
                  <div class="country-item">
                    <img src="assets/showcase/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + country.code.toLowerCase()" />
                    <div>{{country.name}}</div>
                  </div>
                </ng-template>
              </p-autoComplete>
            </div>

            <div class="row">
              <label>Starttid</label>
              <p-calendar
                [(ngModel)]="startTime"
                [showTime]="true"
                [stepMinute]="15"
                [timeOnly]="true"
                [touchUI]="true"
                [readonlyInput]="true">
                <ng-template pTemplate="header" let-date>
                  <span [ngStyle]="{ 'visibility': ( endTime < startTime ) ? 'visible' : 'hidden'}">Starttid kan ikke være efter sluttid</span>
                </ng-template>
              </p-calendar>
            </div>
            
            <div class="row">
              <label>Sluttid</label>
              <p-calendar
                [(ngModel)]="endTime"
                [showTime]="true"
                [stepMinute]="15"
                [timeOnly]="true"
                [touchUI]="true"
                [readonlyInput]="true">
                <ng-template pTemplate="header" let-date>
                  <span [ngStyle]="{ 'visibility': ( endTime < startTime ) ? 'visible' : 'hidden'}">Sluttid kan ikke være før starttid</span>
                </ng-template>
            </p-calendar>
            <span [ngStyle]="{ 'visibility': ( endTime < startTime ) ? 'visible' : 'hidden'}">Angiv korrekte tider</span>
          </div>
          
          <div class="row">
              <label>Opgave beskrivelse</label>
              <input type="text" pInputText [(ngModel)]="jobDesc"> 
              <span class="p-ml-2">{{jobDesc}}</span>
            </div>

            <div class="row">
              <p-autoComplete
                [(ngModel)]="items"
                [suggestions]="results"
                (completeMethod)="search($event)"
                [dropdown]="true"
                [multiple]="true">
              </p-autoComplete>
            </div>

          </p-tabPanel>
          <p-tabPanel header="Tirsdag">
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem
              accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
              illo inventore veritatis et quasi architecto beatae vitae dicta sunt
              explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
              odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
              voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non
              numquam eius modi.
            </p>
          </p-tabPanel>
          <p-tabPanel header="Onsdag">
            <p>
              At vero eos et accusamus et iusto odio dignissimos ducimus qui
              blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
              et quas molestias excepturi sint occaecati cupiditate non provident,
              similique sunt in culpa qui officia deserunt mollitia animi, id est
              laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita
              distinctio. Nam libero tempore, cum soluta nobis est eligendi optio
              cumque nihil impedit quo minus.
            </p>
          </p-tabPanel>
          <p-tabPanel header="Torsdag">
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem
              accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
              illo inventore veritatis et quasi architecto beatae vitae dicta sunt
              explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
              odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
              voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non
              numquam eius modi.
            </p>
          </p-tabPanel>
          <p-tabPanel header="Fredag">
            <p>
              At vero eos et accusamus et iusto odio dignissimos ducimus qui
              blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
              et quas molestias excepturi sint occaecati cupiditate non provident,
              similique sunt in culpa qui officia deserunt mollitia animi, id est
              laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita
              distinctio. Nam libero tempore, cum soluta nobis est eligendi optio
              cumque nihil impedit quo minus.
            </p>
          </p-tabPanel>
          <p-tabPanel header="Lørdag">
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem
              accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
              illo inventore veritatis et quasi architecto beatae vitae dicta sunt
              explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
              odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
              voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non
              numquam eius modi.
            </p>
          </p-tabPanel>
          <p-tabPanel header="Søndag">
            <p>
              At vero eos et accusamus et iusto odio dignissimos ducimus qui
              blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
              et quas molestias excepturi sint occaecati cupiditate non provident,
              similique sunt in culpa qui officia deserunt mollitia animi, id est
              laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita
              distinctio. Nam libero tempore, cum soluta nobis est eligendi optio
              cumque nihil impedit quo minus.
            </p>
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>
  </div>
  
  
</div>


