<div
  class="p-fluid p-grid p-formgrid"
  *ngIf="timesheet && timesheet.weekDays != undefined"
>
  <div class="row p-buttonset">
    <!-- <span class="p-buttonset"> -->
    <button pButton icon="pi pi-chevron-left" (click)="openPrev()"></button>
    <button pButton class="p-button-lg" type="button">
      Week #{{ timesheet.weekNumber }}
    </button>
    <button pButton icon="pi pi-chevron-right" (click)="openNext()"></button>
    <!-- </span> -->
  </div>
  <div class="row">
    <div class="p-field p-col-12 p-md-4">
      <div class="card">
        <p-tabView [scrollable]="false" [(activeIndex)]="index">
          <p-tabPanel
            *ngFor="let workday of timesheet.weekDays; index as i"
            header="{{ timesheet.weekDays[i] }} - {{ timesheet.weekDates[i] }}."
          >
            <div class="row">
              <label>Projekt</label>
              <p-autoComplete
                [(ngModel)]="selectedProjectAdvanced"
                [suggestions]="filteredProjects"
                (completeMethod)="filterProject($event)"
                field="name"
                [dropdown]="true"
              >
                <ng-template let-project pTemplate="item">
                  <div class="project-item">
                    <div>{{ project.id }} - {{ project.name }}</div>
                  </div>
                </ng-template>
              </p-autoComplete>
            </div>
            <div class="row"><p-divider></p-divider></div>
            <div class="row">
              <app-time-pickers
                [startTime]="startTime"
                [endTime]="endTime"
              ></app-time-pickers>
            </div>
            <div class="row"><p-divider></p-divider></div>
            <!-- LISTBOX -->
            <div class="row">
              <label>List of tasks</label>
              <p-listbox
                *ngIf="renderListbox"
                [(ngModel)]="selectedTasks"
                [options]="definedTasks[0]"
                [group]="true"
                [metaKeySelection]="false"
                [checkbox]="true"
                [filter]="true"
                [multiple]="true"
                [listStyle]="{ 'max-height': '1250px' }"
              >
                <p-header>
                  <button
                    pButton
                    label="Clear search"
                    type="button"
                    icon="pi pi-times"
                    class="p-button-text clear-search-box"
                    (click)="clearSearchBox($event)"
                  ></button>
                </p-header>
                <ng-template let-group pTemplate="group">
                  <div class="p-d-flex p-ai-center">
                    <span>{{ group.label }}</span>
                  </div>
                </ng-template>
              </p-listbox>
            </div>
            <div class="row"><p-divider></p-divider></div>
            <!-- TEXTAREA -->
            <div class="row">
              <label>Kommentarer</label>
              <textarea
                [(ngModel)]="taskComments"
                id="float-input"
                rows="5"
                cols="30"
                pinputtextarea=""
                class="p-inputtextarea p-inputtext p-component p-element"
              >
              </textarea>
            </div>
          </p-tabPanel>

          <p-divider></p-divider>

          <p-button
            (click)="submitTimesheet($event)"
            label="Indsend ugeseddel"
            icon="pi pi-check"
            iconPos="right"
          >
          </p-button>
        </p-tabView>
      </div>
    </div>
  </div>
</div>
